<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
    function getAllUsers() {
        fetch("/api/users")
            .then(res => res.json())
            .then(users => {
                let temp = '';
                users.forEach(function (users) {
                    temp += `
                    <tr>
                    <td>${users.id}</td>
                    <td>${users.name}</td>
                    <td>${users.surname}</td>
                    <td>${users.age}</td>
                    <td>${users.username}</td>
                    <td>${users.roles.map(r => r.name.replace('ROLE_', '')).join(', ')}</td>
                    <td><button class="btn btn-info btn-md" type="button" data-toggle="modal" data-target="#UserEditModal" onclick="openModalEdit(${users.id})">Edit</button></td>
                    <td><button class="btn btn-danger btn-md" type="button" data-toggle="modal" data-target="#UserShowModal" onclick="openModalDelete(${users.id})">Delete</button></td>
                    </tr>`;
                    });
                document.getElementById("usersTable").innerHTML = temp;
            });
    }

    getAllUsers()
</script>
</body>
</html>